:root {
  --main-bg-color: red;
  --main-color: #000;
  border-style: dashed;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  background-image: url(assets/originalTree.jpg);
  background-size: cover;
}
